.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--red);
    color: var(--white);
    transition: all .1s ease-in-out;
    border-radius: .5rem;
    padding: 1rem;
}

.menuLink:hover {
    filter: brightness(80%);
}

.menuLink svg {
    width: 1.7rem;
    height: 1.7rem;
}